:root {
  --link-color: #f33;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

div {
  text-align: center;
}

a {
  color: var(--link-color);

}

  a:hover {
    color: color(var(--link-color) blackness(30%));
  }
